# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\W_Programmation\DUT Info 2A\CPOA\ORLIANGE_COLLIGNON_CPOA_TD1_2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
